.container {
    @apply h-auto pb-0 select-none
}

.image {
    @apply mx-16 my-8 w-[50vw]
}

.flexbox {
    @apply flex flex-row
}

.imageSrc {
    @apply p-0 w-[500px]
}

.textcontainer {
    @apply  w-[50vw] my-8 p-7 rounded-2xl m-16
}

.tabs {
    display: flex;
    justify-content: space-between;
  }
  
  .tabs button:disabled {
    border-top: 1px solid #a0a0a0;
    border-right: 1px solid #a0a0a0;
    border-left: 1px solid #a0a0a0;
    border-bottom: 1px solid transparent;
    @apply rounded-t-2xl

  }

  
      .tabs button {
        border-top: 1px solid transparent;
        border-right: 1px solid transparent;
        border-left: 1px solid transparent;
        border-bottom: 1px solid #a0a0a0;
        @apply rounded-t-2xl

      }
  
  .tabButton{
    border: none;
    cursor: pointer;
    padding: 35px;
    font-weight: 500;
    width: 100%;
  }

.text {
    @apply text-5xl font-semibold 
}

.text2 {
    @apply text-2xl font-semibold 
}




@media only screen and (max-width: 1200px) {
    .flexbox {
        @apply flex flex-col-reverse
    }
    .textcontainer {   
        @apply  w-auto mx-auto p-8 border-0 m-5
    }
    .image {
        @apply w-[100vw] m-0
    }
    .text {
        @apply text-2xl
    }
    .text2 {
        @apply text-sm
    }
    .tabButton{
        padding: 25px;
    }
}